@page
@model IndexModel
@{
    ViewData["Title"] = "Nick's page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<body>
    <h1>Hi I'm Nick, Welcome to my first C# Page</h1>
</body>

